<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>분실물 정보 챗봇</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}" />
    	
	</head>
	
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/index" class="logo">Theory</a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>분실물정보챗봇</h1>
				
			</section>
			<br/><br/>
<form class="inner" action = "http://localhost:5000/이미지검색" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
          </form>
		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<form class="form-bot" action="/action" method="POST">
						<input id="chat" type="text" placeholder="무엇을 도와드릴까요?" autocomplete="off" name="msg" />
					</form>
					<h3 class="align-left">
						{% if ans %}
						<b>Bot</b> : {{ans}}
						{% endif %}
					</h3>
				</div>
			</section>
			
            <tbody>
            {% for table in tables %}
                <h2>{{titles[loop.index]}}</h2>
                {{ table|safe }}
            {% endfor %}
            </tbody>
            
            <tbody>
          
          
            </tbody>
		
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>
			     

		<!-- Scripts -->
			<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
        
	</body>
</html>